h1{
    border: 1px solid blue;
    color: aqua;
    font-size:"20px";
}
.fffff{
    color: chartreuse;
    font-size: 5px;
}
p{
    color:red;
    font-size: 10px;
}
li:active{
    color: brown;
    font-size: 10px;
}
